
* {
  box-sizing: border-box;
 
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Varela Round', sans-serif;
  
}
.container{
  display: grid;
  grid-template-columns: 1fr 28rem;
  /* background-color: blue; */
}
.container .right{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  background-color: lightgrey;
  /* border-left: 1px solid #540075; */
  /* border-radius: 1rem; */
  /* bottom:0; */
  align-items: center;
  height: 100rem;
}
.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #540075;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  margin-bottom:1rem;

}

.header h1 {
  color: white;
  font-size: 2rem;
}

.header .cart{
  font-size: 1.2rem;
  outline:none;
  border: none;
  cursor: pointer;
}
.header .cart ion-icon{
   font-size: 2.4rem;
}
.header .cart .cart-amount{
  padding:.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: .8rem;
  position: relative;
  top: -1.2rem;
  left: -1rem;
}
.form #btn{
  width: 32rem;
  padding: 1rem;
}
button {
  background: #540075;
  color: white;
  border: 1px solid #540075;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}
#app{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,380px);
  gap: 20px;
}
.item {
  width: 100%;
  height: 470px ;
  padding:1rem;
}
.item img{
  width: 100%;
  height: 50%;
}

button:hover,
button:active {
  background: #790fa3;
  border-color: #790fa3;
}
/* .form{
  margin-top:6rem;
  margin-bottom:2rem;
} */
.cart {
  margin: 5rem 2rem;
  border: 2px solid #540075;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #540075;
}

.product-list {
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.product-item {
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 50rem;
  max-width: 90%;
}

.product-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.product-item__content {
  padding: 1rem;
  text-align: center;
}

.product-item h2,
.product-item h3 {
  margin: 0 0 1rem 0;
}


.form {
  width: 80%;
  height: 46em;
  display: flex;
  flex-direction:column;
  margin: 3rem auto;
  padding: 15px;
  justify-content: center;
  padding: 2rem;
  /* background-color: red; */
  align-items: center;
  margin-top:-2rem;
 
}
.form p{
  background-color: red;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.form-content{
  border-radius:4rem;
  background:lightgrey;
  width:40rem;
  height: 100%;
  border: 1px solid gray;
  padding: 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  outline: none;
  border: none;
  /* background-color: red; */
  
}
.form-group{
  width: 100%;
  /* display: flex; */
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction:column;
}
.form-group1{
  width: 100%;
  display: flex;
  justify-content: center;
 
}
.form-control{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  /* align-items: center; */
}
.form-control label {
  text-transform: uppercase;
  font-weight:bold;
  width: 40%;
}
.form-control input, textarea{
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  padding:1rem
}

.header{
  background: #790fa3;
  padding: 15px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* .top{
  bottom: 0;
  right:0;
} */
.cart_display{
  margin-top: 5rem ;
  /* border:1px solid black; */
  /* height: 29rem; */

  display: flex;
  flex-direction: column;
  gap:2rem;
  flex-wrap: wrap;
  padding:2rem;
  margin-top: -3rem;

}
.cart-class{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  /* background-color: blue; */
 align-items: center;
 gap:2rem;
}
.cart-class img{
  width: 5rem;
  height:5rem;
  border-radius:50%;
  object-fit:cover;
}
.decinc{
  display: flex;
  /* flex-direction: column; */
  padding: 1rem;
  background-color: blue;
}
.delete{
  width: 5rem;
  background-color: red;
  color: white;
  border:none
}



.body{
  /* margin-top: 10rem; */
  /* background:red; */
  width:100%

}
.top{
 
  background:lightgrey;
  margin: 0 auto;
  width:40%;
  padding:.4rem;
  border-radius: 4rem;
  /* top:30rem;
  right:0;
  position:fixed; */
  background-color: green;
}
.top h1{
  text-align:center;
}
.total_price{
  font-size:1.3rem;
  font-weight:bold;
  padding: 0.6em;
  background: #790fa3;
  width: 20rem;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 2rem auto;
}

@media screen and (max-width: 998px) {
  .form{
    /* background-color: red; */
    width: 100%;
  }
  .form-content{
    width: 100%;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .item{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* background-color: red; */
    height: 550px;
  }
  .item button{
    width: 100%;
    margin-top: .5rem;
  }
}